{% extends "index.html" %}
{% block content %}
<h1>This is the about me page</h1>
<p>Oh I'm just a dude who digs music and math</p>
<ul>
<li>Analyst</li>
	<ul>
		<li>Pricing Analyst Simmons Pet Food</li>
		<li>Masters of Applied Business Analytics (expected May 2024)</li>
	</ul>

<li>Pretend-Programmer</li>
	<ul>
		<li>SQL</li>
		<li>Python (off and on) </li>
		<li>Javascript(2021)</li>
		<li>Html & CSS(off and on)</li>
		<li>VBA for Excel (2021)</li>
		<li>Java (late 2000s)</li>
	</ul>
<li>Musician</li>
	<ul>
		<li>Guitar</li>
		<li>Piano or Keyboard</li>
		<li>Percussion though mostly midi</li>
	</ul>
<li>Mathematician</li>
	<ul>
		<li>Masters of Mathematics from UA Fayetteville 2013</li>
		<li>Bachelors of Mathematics from UA Fort Smith 2010</li>
	</ul>
</ul>

{% endblock %}
